
<h1>Report</h1>
<ul>
    <li><a asp-controller="Select" asp-action="VerbaliPerTrasgressore">Totale dei verbali trascritti raggruppati per trasgressore</a></li>
    <li><a asp-controller="Select" asp-action="PuntiDecurtatiPerTrasgressore">Totale dei punti decurtati raggruppati per trasgressore</a></li>
    <li><a asp-controller="Select" asp-action="VerbaliOltre10Punti">Verbali con decurtamento punti superiore a 10</a></li>
    <li><a asp-controller="Select" asp-action="VerbaliOltre400Euro">Verbali con importo superiore a 400 euro</a></li>
</ul>
