@{
    ViewData["Title"] = "Home Page";
}

<h2>Home Page</h2>



<a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Clienti">Gestione Clienti</a>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="Prenotazioni" asp-action="Prenotazioni">Nuova Prenotazione</a>
<a class="btn btn-outline-secondary" asp-area="" asp-controller="Prenotazioni" asp-action="ElencoPrenotazioni">Prenotazioni</a>
