@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<p>Benvenuto, @ViewBag.UserName!</p>

<p>
    <a class="btn btn-primary" asp-action="AggiungiIngrediente">Aggiungi Ingrediente</a>
    <a class="btn btn-primary" asp-action="AggiungiProdotto">Aggiungi Prodotto</a>
</p>
