<h1 class="text-center my-3">Accedi</h1>
<div class="w-50 text-center mx-auto">
  <form>
    <input
      type="email"
      [(ngModel)]="authData.email"
      name="email"
      placeholder="email"
      class="form-control"
      required="true"
    />

    <input
      type="password"
      [(ngModel)]="authData.password"
      name="password"
      placeholder="password"
      class="form-control mt-3"
      required="true"
    />

    <button class="btn btn-primary mt-3" (click)="login()">Accedi</button>
  </form>
</div>
